node_modules/
.next/
out/
.git/
.gitignore
.env*.local
.env
.env.local
.env.production
.dockerignore
.npmrc
*.log
.DS_Store
.vscode/
.idea/
dist/
*.tsbuildinfo
next-env.d.ts
public/*
!public/.gitkeep
prisma/migrations/migration_lock.toml
